@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family : 'Poppins',sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color:#43766C;
    width: 100%;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    padding: 20px 100px;
    display: flex;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: #F8FAE5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    text-decoration: none;
    color: #F8FAE5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    padding-left: 30px;
}

.navigation a:hover{
    color: #001524;
}

section{
    padding: 10px 150px;
}

.Main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: top;
    background: url(images/linux.PNG) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Main h2{
    margin-top: 25vh;
     color: #FDFFAB;
     font-size: 1.2em;
     font-weight: 500;
}

.Main h2 span{
    display: inline-block;
    color: #994958;
    font-size: 2em;
    font-weight: 600;
    border-right: 5px solid;
    overflow: hidden;
    animation: 
    typing 2s,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0;}
    to { width: 57%;}
}

.Main h3 {
    color: #FDFFAB;
     font-size: 1.3em;
     font-weight: 550;
     margin-top: -5px;
     letter-spacing: 1px;
     margin-bottom: 30px;
}

.Main-btn{
    color: white;
    background-color: #3E001F;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-left: 170px;
    transition: 0.7s ease;
}
.Main-btn:hover{
    background-color: #12012c;
    transform: scale(1.1);

}

/*i have to put background for the contents later*/
.contact {
    background-color: #F2EFE5;
}
.title {
    display: flex;
    justify-content: center;
    color: #3E001F;
    font-size: 2.2em ;
    font-weight: 700;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 20em;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: black;
    font-size: 4em;
    text-align: center;
}
.info {
    text-align: center;
}

.Contact-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color: black;
}


.projects {
    background-color: #669B6A;
}
.projects .title{
    color: #fce79c;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #B3A398;
    border: 2px solid #F8FAE5;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
    text-align: center;
    margin: 10px;

}

.project-info span{
    font-size: 1.1em;
    font-weight: 600;
}

.footer{
    background-color: #252520;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between 1px;
    justify-content: center;

}
@media (max-width :600px){
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.4em;
       

    }
    section{
        padding: 80px 20px;
       
    }
    .Main{
        width: 100%;
        z-index: 999;
    }
   

    .Main-btn{
        font-size: 1.0em;
        margin-left: 50px;
    }
    
    .Main h2{
       margin-top: 20vh;
        font-size: 1em;
        margin-left: 5vh;
        
    }
    .Main h2 span{
         font-size: 1.4em;
         
     }

    .Main h3{
        font-size: 1em;
        margin-left: 5vh;
    }

    .content{
        flex-direction: column;
        align-items: center;

    }
    .project-card{
        width: calc(100% - 50px);
    }
    .card{
        width: calc(100% - 50px);
        margin-left: 30px;
    }
    .contact .title{
        padding-right: 25px;
    }

}
